<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Meetups Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/meetups.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/admin_meetups.css" />
    <!--font awsome-->
    <script src="../js/all.js"></script>

</head>

<body>
    <!--nav btn-->
    <div class="cf-nav_btn">
        <i class="fas fa-bars"></i>
    </div>
    <!--end of nav btn-->
    <!--nav-->

    <nav class="cf-nav">
        <ul class="cf-nav_links">
            <!--logo-->
            <li><a href="#" class="cf-nav_single_link cf-nav_logo">
                    <img src="../img/logo.png" alt="">
                </a></li>
            <li><a href="#" class="cf-nav_single_link">home</a></li>
            <li><a href="../templates/admin_meetup.html" class="cf-nav_single_link">create</a></li>
            <li><a href="../templates/signin.html" class="cf-nav_single_link">signout</a></li>
        </ul>
    </nav>
    <!--end of nav-->

    <!-- admin profile section -->
    <section class="cf-profile cf-section-padding" id="cf-profile">
        <!-- section title -->
        <div class="cf-section_title cf-section_title_left">
            <h1 class="cf-section_title_name cf-bell-fonts">admin dashboard</h1>
            <div class="cf-section_title_underline"></div>
        </div>
        <!--end of section title-->

        <div class="cf-admin_meetups_container">
            <div class="cf-admin_details cf-admin_one">
                <div class="cf-admin_bio_section">
                    <div class="cf-admin_image">
                        <img src="../img/person3.jpeg" alt="">
                    </div>
                    <div class="cf-admin_title">
                        <h2>admin</h2>
                    </div>

                    <div class="cf-admin_bio_detail">
                        <div class="cf-admin_item">
                            <h3 class="cf-admin_item_title">Mercy Jones</h3>
                            <p class="cf-admin_item_text"><span><i class="fas fa-phone"></i></span> +254 230 657 342</p>
                            <p class="cf-admin_item_text"><span><i class="fas fa-envelope"></i></span> admin@mail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-admin_meetups_number cf-admin_two">
                <div class="cf-admin_item">
                    <h2 class="cf-admin_number_title cf-admin_new_member">total meetups <span><b>150</b></span></h2>
                </div>
            </div>
            <div class="cf-admin_members cf-admin_three">
                <div class="cf-admin_item">
                    <h2 class="cf-admin_number_title cf-admin_new_member">total members <span><b>1150</b></span></h2>
                </div>
            </div>
            <div class="cf-admin_new_members cf-admin_four">
                <div class="cf-admin_item">
                    <h2 class="cf-admin_number_title cf-admin_new_member">new members <span><b>110</b></span></h2>
                </div>
            </div>
            <div class="cf-admin_new_meetups cf-admin_five">
                <div class="cf-admin_item">
                    <h2 class="cf-admin_number_title cf-admin_new_member">new meetups <span><b>11</b></span></h2>
                </div>
            </div>
            <div class="cf-admin_manage_meetups cf-admin_six">
                <div class="cf-admin_item cf-list">
                    <h2 class="cf-admin_item_title">current meetups</h2>
                    <ul>
                        <li>
                            <p class="cf-admin_item_text"> Young Professionals in International Affairs</p>
                            <b class="cf-admin_location"><span><span><i class="fa fa-map-marker"></i></span> Nairobi
                                    Tuesday, December 4, 2018</b>
                            <div class="cf-admin_button">
                                <button class="cf-delete_btn">delete</button>
                                <button class="cf-edit_btn">edit</button>
                            </div>
                        </li>
                        <li>
                            <p class="cf-admin_item_text"> Young Professionals in International Affairs</p>
                            <b class="cf-admin_location"><span><span><i class="fa fa-map-marker"></i></span> Nairobi
                                    Tuesday, December 4, 2018</b>
                            <div class="cf-admin_button">
                                <button class="cf-delete_btn">delete</button>
                                <button class="cf-edit_btn">edit</button>
                            </div>
                        </li>
                        </li>
                        <li>
                            <p class="cf-admin_item_text"> Young Professionals in International Affairs</p>
                            <b class="cf-admin_location"><span><span><i class="fa fa-map-marker"></i></span> Nairobi
                                    Tuesday, December 4, 2018</b>
                            <div class="cf-admin_button">
                                <button class="cf-delete_btn">delete</button>
                                <button class="cf-edit_btn">edit</button>
                            </div>
                        </li>

                        <li>
                                <p class="cf-admin_item_text"> Young Professionals in International Affairs</p>
                                <b class="cf-admin_location"><span><span><i class="fa fa-map-marker"></i></span> Nairobi
                                        Tuesday, December 4, 2018</b>
                                <div class="cf-admin_button">
                                    <button class="cf-delete_btn">delete</button>
                                    <button class="cf-edit_btn">edit</button>
                                </div>
                            </li>
                    </ul>

                    <div class="cf-pagination">
                        <a href="#">&laquo;</a>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/meetups.js"></script>
</body>

</html>
