<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>meetups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/meetups.css" />
    <!--font awsome-->
    <script src="../js/all.js"></script>

</head>

<body>
    <!--nav btn-->
    <div class="cf-nav_btn">
        <i class="fas fa-bars"></i>
    </div>
    <!--end of nav btn-->
    <!--nav-->

    <nav class="cf-nav">
        <ul class="cf-nav_links">
            <!--logo-->
            <li><a href="#" class="cf-nav_single_link cf-nav_logo">
                    <img src="../img/logo.png" alt="">
                </a></li>
            <li><a href="../templates/index.html" class="cf-nav_single_link">home</a></li>
            <li><a href="../templates/profile.html" class="cf-nav_single_link ">profile</a></li>
            <li><a href="../templates/signin.html" class="cf-nav_single_link">signout</a></li>
        </ul>
    </nav>
    <!--end of nav-->

    <!--meetups section-->
    <section class="cf-meetups cf-section_padding" id="cf-meetups">
        <!-- section title -->
        <div class="cf-section_title cf-section_title_left">
            <h1 class="cf-section_title_name cf-bell-fonts">Upcoming</h1>
            <div class="cf-section_title_underline"></div>
        </div>
        <!--end of section title-->
        <!-- single meetups -->
        <div class="grid-meetups_container">
            <div class="cf-meetups_card">
                <div class="cf-meetup_time">
                    <div class="cf-meetup_timing">
                        <h4>SAT, FEB 2, 8:30AM </h4>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <P>Location:<i>Kilgoris</i> </P>
                        </div>
                    </div>
                    <div class="cf-meetups_image">
                        <img class="cf-card_img" src="../img/meetup1.jpeg" alt="">
                    </div>
                </div>
                <div class="cf-content">
                    <h4>DigitalOcean</h4>
                    <p>The repeat () CSS function represents a repeated fragment of the tracklist, allowing a large
                        .</p>
                    <div class="cf-meetup_attendant">
                        <a href="../templates/single_meetup.html"><button>Attend</button></a>
                        <div class="cf-meetup_attend">
                            <p><i class="fa fa-users" aria-hidden="true"></i> <b class="cf-meetup_people">20</b>
                                Attending</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-meetups_card">
                <div class="cf-meetup_time">
                    <div class="cf-meetup_timing">
                        <h4>SAT, FEB 2, 8:30AM </h4>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <P>Location:<i>Kilgoris</i> </P>
                        </div>
                    </div>
                    <div class="cf-meetups_image">
                        <img class="cf-card_img" src="../img/meetup2.jpeg" alt="">
                    </div>
                </div>
                <div class="cf-content">
                    <h4>Big Data Development</h4>
                    <p>The repeat () CSS function represents a repeated fragment of the tracklist, allowing a large
                        .</p>
                    <div class="cf-meetup_attendant">
                        <a href="../templates/single_meetup.html"><button>Attend</button></a>
                        <div class="cf-meetup_attend">
                            <p><i class="fa fa-users" aria-hidden="true"></i> <b class="cf-meetup_people">20</b>
                                Attending</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-meetups_card">
                <div class="cf-meetup_time">
                    <div class="cf-meetup_timing">
                        <h4>SAT, FEB 2, 8:30AM </h4>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <P>Location:<i>Kilgoris</i> </P>
                        </div>
                    </div>
                    <div class="cf-meetups_image">
                        <img class="cf-card_img" src="../img/meetup3.jpeg" alt="">
                    </div>
                </div>
                <div class="cf-content">
                    <h4>Nairobi Startup Founder</h4>
                    <p>The repeat () CSS function represents a repeated fragment of the tracklist, allowing a large
                        .</p>
                    <div class="cf-meetup_attendant">
                        <a href="../templates/single_meetup.html"><button>Attend</button></a>
                        <div class="cf-meetup_attend">
                            <p><i class="fa fa-users" aria-hidden="true"></i> <b class="cf-meetup_people">20</b>
                                Attending</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-meetups_card">
                <div class="cf-meetup_time">
                    <div class="cf-meetup_timing">
                        <h4>SAT, FEB 2, 8:30AM </h4>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <P>Location:<i>Nairobi</i> </P>
                        </div>
                    </div>
                    <div class="cf-meetups_image">
                        <img class="cf-card_img" src="../img/meetup5.jpeg" alt="">
                    </div>
                </div>
                <div class="cf-content">
                    <h4>Nairobi Docker Meetup</h4>
                    <p>The repeat () CSS function represents a repeated fragment of the tracklist, allowing a large
                        .</p>
                    <div class="cf-meetup_attendant">
                        <a href="../templates/single_meetup.html"><button>Attend</button></a>
                        <div class="cf-meetup_attend">
                            <p><i class="fa fa-users" aria-hidden="true"></i> <b class="cf-meetup_people">20</b>
                                Attending</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-meetups_card">
                <div class="cf-meetup_time">
                    <div class="cf-meetup_timing">
                        <h4>SAT, FEB 2, 8:30AM </h4>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <P>Location:<i>Kilgoris</i> </P>
                        </div>
                    </div>
                    <div class="cf-meetups_image">
                        <img class="cf-card_img" src="../img/meetup4.jpeg" alt="">
                    </div>
                </div>
                <div class="cf-content">
                    <h4>Blockchain</h4>
                    <p>The repeat () CSS function represents a repeated fragment of the tracklist, allowing a large
                        .</p>
                    <div class="cf-meetup_attendant">
                        <a href="../templates/single_meetup.html"><button>Attend</button></a>
                        <div class="cf-meetup_attend">
                            <p><i class="fa fa-users" aria-hidden="true"></i> <b class="cf-meetup_people">20</b>
                                Attending</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cf-meetups_card">
                <div class="cf-meetup_time">
                    <div class="cf-meetup_timing">
                        <h4>SAT, FEB 2, 8:30AM </h4>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <P>Location:<i>Nairobi</i> </P>
                        </div>
                    </div>
                    <div class="cf-meetups_image">
                        <img class="cf-card_img" src="../img/meetup6.jpeg" alt="">
                    </div>
                </div>
                <div class="cf-content">
                    <h4>Coding for Africa</h4>
                    <p>The repeat () CSS function represents a repeated fragment of the tracklist, allowing a large
                        .</p>
                    <div class="cf-meetup_attendant">
                        <a href="../templates/single_meetup.html"><button>Attend</button></a>
                        <div class="cf-meetup_attend">
                            <p><i class="fa fa-users" aria-hidden="true"></i> <b class="cf-meetup_people">20</b>
                                Attending</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/meetups.js"></script>
</body>

</html>
