<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/meetups.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/profile.css" />
    <!--font awsome-->
    <script src="../js/all.js"></script>

</head>

<body>
    <!--nav btn-->
    <div class="cf-nav_btn">
        <i class="fas fa-bars"></i>
    </div>
    <!--end of nav btn-->
    <!--nav-->

    <nav class="cf-nav">
        <ul class="cf-nav_links">
            <!--logo-->
            <li><a href="#" class="cf-nav_single_link cf-nav_logo">
                    <img src="../img/logo.png" alt="">
                </a></li>
            <li><a href="#" class="cf-nav_single_link">home</a></li>
            <li><a href="../templates/meetups.html" class="cf-nav_single_link">meetups</a></li>
            <li><a href="../templates/signin.html" class="cf-nav_single_link">signout</a></li>
        </ul>
    </nav>
    <!--end of nav-->

    <section class="cf-profile cf-section-padding" id="cf-profile">
        <!-- section title -->
        <div class="cf-section_title cf-section_title_left">
            <h1 class="cf-section_title_name cf-bell-fonts">my profile</h1>
            <div class="cf-section_title_underline"></div>
        </div>
        <!--end of section title-->
        <div class="cf-profile_container">
            <div class="cf-profile_name cf-profile_item_one">
                <div class="cf-user_details">
                    <div class="cf-user_image">
                        <img src="../img/person1.jpeg" alt="">
                    </div>
                    <div class="cf-user_bio">
                        <div class="cf-profile_item">
                            <h2 class="cf-profile_item_title">Mercy Jones</h2>
                            <p class="cf-profile_item_text"><span><i class="fas fa-phone"></i></span> +254 220 657 926</p>
                            <p class="cf-profile_item_text"><span><i class="fas fa-envelope"></i></span> mail@mail.com</p>
                            <p class="cf-profile_item_text"><span><i class="fa fa-map-marker"></i></span> Nairobi</p>
                        </div>

                        <div class="cf-profile_item">
                            <h2 class="cf-profile_item_title">Social Media</h2>
                            <p class="cf-profile_item_text"><span><i class="fab fa-facebook fa-fw"></i></span>facebook</p>
                            <p class="cf-profile_item_text"><span><i class="fab fa-google-plus fa-fw"></i></span>google plus</p>
                            <p class="cf-profile_item_text"><span><i class="fab fa-twitter fa-fw"></i></span>twitter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-profile_bio cf-profile_item_two">
                
            </div>
            <div class="cf-profile_image cf-profile_item_three">

            </div>
        </div>
    </section>
    <!-- end of contact section -->

    <script src="../js/signin.js"></script>
</body>

</html>