<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signin.css" />
    <!--font awsome-->
    <script src="../js/all.js"></script>

</head>

<body>
    <!--nav btn-->
    <div class="cf-nav_btn">
        <i class="fas fa-bars"></i>
    </div>
    <!--end of nav btn-->
    <!--nav-->

    <nav class="cf-nav">
        <ul class="cf-nav_links">
            <!--logo-->
            <li><a href="#" class="cf-nav_single_link cf-nav_logo">
                    <img src="../img/logo.png" alt="">
                </a></li>
            <li><a href="#" class="cf-nav_single_link">home</a></li>
            <li><a href="../templates/meetups.html" class="cf-nav_single_link">meetups</a></li>
            <li><a href="../templates/signin.html" class="cf-nav_single_link">signout</a></li>
        </ul>
    </nav>
    <!--end of nav-->

    <script src="../js/signin.js"></script>
</body>

</html>
