<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signup.css" />
    <!--font awsome-->
    <script src="../js/all.js"></script>

</head>

<body>
    <!--nav btn-->
    <div class="cf-nav_btn">
        <i class="fas fa-bars"></i>
    </div>
    <!--end of nav btn-->
    <!--nav-->

    <nav class="cf-nav">
        <ul class="cf-nav_links">
            <!--logo-->
            <li><a href="#" class="cf-nav_single_link cf-nav_logo">
                    <img src="../img/logo.png" alt="">
                </a></li>
            <li><a href="index.html"class="cf-nav_single_link">home</a></li>
            <li><a href="../templates/signin.html" class="cf-nav_single_link">signin</a></li>
        </ul>
    </nav>
    <!--end of nav-->
    <!--signup section-->
    <section class="cf-signup cf-section_padding" id="cf-signup">
        <div class="cf-grid_container">
            <form action="../templates/signin.html" class="cf-signup_form">
                <p class="cf-signup_form_feedback">some text</p>
                <h3 class="cf-signup_form_title cf-bell-fonts">signup here</h3>
                <div class="cf-signup_form_input">
                    <input type="text" name="" id="" maxlength="15" class="cf-input_username" placeholder="username" required>
                </div>
                <div class="cf-signup_form_input">
                    <input type="email" name="" id="" maxlength="" class="cf-input_email" placeholder="email" required>
                </div>
                <div class="cf-signup_form_input">
                    <input type="password" name="" id="" maxlength="15" class="cf-input_password" placeholder="Password" required>
                </div>
                <div class="cf-signup_form_input">
                    <input type="password" name="" id="" maxlength="15" class="cf-input_password" placeholder="Repeate Password" required>
                </div>
                <input type="submit" value="Sign up" class="cf-input_submit">
                <p>already have an account? signin<a href="#signin" class="cf-signup_btn_link"> here</a></p>
            </form>
        </div>
    </section>
    <!--end of signup section-->

    <script src="../js/signup.js"></script>
</body>

</html>
