<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>meetup Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/single_meetup.css" />
    <!--font awsome-->
    <script src="../js/all.js"></script>

</head>

<body>
    <!--nav btn-->
    <div class="cf-nav_btn">
        <i class="fas fa-bars"></i>
    </div>
    <!--end of nav btn-->
    <!--nav-->

    <nav class="cf-nav">
        <ul class="cf-nav_links">
            <!--logo-->
            <li><a href="#" class="cf-nav_single_link cf-nav_logo">
                    <img src="../img/logo.png" alt="">
                </a></li>
            <li><a href="#" class="cf-nav_single_link">home</a></li>
            <li><a href="../templates/meetups.html" class="cf-nav_single_link ">meetups</a></li>
            <li><a href="#" class="cf-nav_single_link">profile</a></li>
            <li><a href="../templates/signin.html" class="cf-nav_single_link">signout</a></li>
        </ul>
    </nav>
    <!--end of nav-->
    <!-- meetup section -->
    <section class="cf-meetup cf-section-padding" id="cf-meetup">
        <!-- section title -->
        <div class="cf-section_title cf-section_title_left">
            <h1 class="cf-section_title_name cf-bell-fonts">blockchain meetup</h1>
            <div class="cf-section_title_underline"></div>
        </div>
        <!--end of section title-->
        <div class="cf-meetup_main_container">
            <div class="cf-meetup_container">
                <div class=" cf-meetup_item_one">
                    <img class="cf-meetup_photo" src="../img/meetup4.jpeg" alt="">
                </div>
                <div class="cf-meetup_description cf-meetup_item_two">
                    <h2>Details</h2>
                    <p>
                        We host a one hour conference call the first Tuesday of each month to hear about in-progress
                        projects, requests for support,
                        updates from the Africa Open Data team, and potential to participate in supporting and
                        representing in upcoming events.
                        Living Minutes are available for all to look through and contribute to.
                    </p>
                </div>
                <div class="cf-meetup_people cf-meetup_item_3">
                    <p class="cf-meetup_item_text">hosted by: <a href="#">Andela</a></p>
                    <p class="cf-meetup_item_text">from : <a href="#">Andela kenya</a></p>
                    <p class="cf-meetup_item_text">When: TUE, APR 2, 8:00 AM
                    <p class="cf-meetup_item_text">Where: Nairobi, PAC University
                </div>
            </div>
            <div class="cf-section_title cf-section_title_left">
                <h1 class="cf-section_title_name cf-bell-fonts">questions</h1>
                <div class="cf-section_title_underline"></div>
            </div>
            <div class="cf-meetup_info">
                <!-- single meetup item -->
                <div class="cf-meetup_item">
                    <div class="cf-meetup_item_icon ">
                        <div class="cf-meetup_question_container">
                            <img class="cf-meetup_img" src="../img/person1.jpeg" alt="">
                            <div class="cf-meetup_question">
                                <h4>Mercy <span class="cf-meetup_time">.3 hours ago</span></h4>
                                <h6>Why should I use Bitcoin? I already have a bank account/credit card/Paypal account.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of single meetup item -->
                <!-- single meetup item -->
                <!-- section title -->

                <div class="cf-meetup_item">
                    <div class="cf-meetup_item_icon ">
                        <div class="cf-meetup_question_container">
                            <img class="cf-meetup_img" src="../img/person0.jpeg" alt="">
                            <div class="cf-meetup_question">
                                <h4>Kelvin <span class="cf-meetup_time">.3 hours ago</span></h4>
                                <h6>Why should I use Bitcoin? I already have a bank account/credit card/Paypal account.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of single meetup item -->
                <!-- single meetup item -->
                <div class="cf-meetup_item">
                    <div class="cf-meetup_item_icon ">
                        <div class="cf-meetup_question_container">
                            <img class="cf-meetup_img" src="../img/person2.jpeg" alt="">
                            <div class="cf-meetup_question">
                                <h4>John <span class="cf-meetup_time">.3 hours ago</span></h4>
                                <h6>Why should I use Bitcoin? I already have a bank account/credit card/Paypal account.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of single meetup item -->

                <!-- single meetup item -->
                <div class="cf-meetup_item">
                    <div class="cf-meetup_item_icon ">
                        <div class="cf-meetup_question_container">
                            <img class="cf-meetup_img" src="../img/person3.jpeg" alt="">
                            <div class="cf-meetup_question">
                                <h4>Lewis <span class="cf-meetup_time">.3 hours ago</span></h4>
                                <h6>Why should I use Bitcoin? I already have a bank account/credit card/Paypal account.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of single meetup item -->
            </div>

        </div>
    </section>
    <!-- end of meetup section -->


    <script src="../js/signin.js"></script>
</body>

</html>