.cf-admin_meetups_container{
    max-width: 90vw;
    margin: 0 auto;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.3rem;
    justify-content: center;
    grid-template-areas: 
    "one two three four five"
    "one six six six six"
    "one six six six six"
    "one six six six six"
    "one six six six six"
    "one six six six six"
}

.cf-admin_one{
    grid-area: one;
}

.cf-admin_two{
    grid-area: two;
}

.cf-admin_three{
    grid-area: three;
}

.cf-admin_four{
    grid-area: four;
}

.cf-admin_five{
    grid-area: five;
}

.cf-admin_six{
    grid-area: six;
}

.cf-admin_bio_section{
    display: grid;
    grid-template-rows: 15rem 5rem 23rem;
}

.cf-admin_image img{
    width: 10rem;
    height: 10rem;
    border: 0.25rem solid var(--grey);
    border-radius: 50%;
    margin: 2rem;
}

.cf-admin_title{
    text-transform: uppercase;
    margin: 0.5rem 0;
    margin-left: 3rem;
    letter-spacing: 0.1rem;
    font-style: italic;
    color: var(--yellow);
}

.cf-admin_bio_detail{
    background: var(--brown);
}

.cf-admin_details{
    background: #808080;
}

.cf-admin_item{
    margin: 1rem 0;
    padding: 0.5rem;
}

.cf-admin_item_text{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--grey);
}

.cf-admin_item_title{
    text-transform: uppercase;
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
    font-style: italic;
    color: var(--yellow);
}

.cf-admin_meetups_number{
    background: var(--grey);
}

.cf-admin_number_title{
    text-transform: uppercase;
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
    color: var(--brown);
}

.cf-admin_members{
    background: #808080;
}

.cf-admin_new_members{
    background: var(--grey);
}

.cf-admin_new_member{
    text-align: center;
}

.cf-admin_new_meetups{
    background: #808080;
}

.cf-admin_manage_meetups{
    height: 82.7vh;
    background: var(--brown);
}

li{
    list-style-type: none;
    padding: 1rem;
}
.cf-admin_location{
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--yellow);
    opacity: 0.3;
}

.cf-list{
    margin-left: 2rem;
}

button{
    width: 5rem;
    text-transform: uppercase;
    overflow: hidden;
}

.cf-edit_btn{
    background: #66b3ff;
}

.cf-delete_btn{
    background: #ff704d;
}

.cf-admin_add_meetup{
    background: green;
}

.cf-pagination a {
    color: var(--grey);
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .cf-pagination a.active {
    background-color: var(--yellow);
    color: var(--grey);
  }
