@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');

:root{
    --brightYellow: #e3b505;
    --darkBrown: #bb9457;
    --yellow: #f2b450;
    --brown: #382923;
    --black: #191919;
    --grey: #a9b2ac;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open sans', sans-serif;
    color: var(--black);
}

/** global style*/
.cf-bell-fonts{
    font-family: 'La Belle Aurore', cursive;
}

/* section padding */
.cf-section_padding{
    padding: 3rem 0;
}
/* grid container */
.cf-grid_container{
    max-width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-row-gap: 2rem;
}

/**nav*/
.cf-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 10rem;
    background: rgba(242, 180, 80, 0.9);
    z-index: 3;
}

.cf-nav_links{
    list-style-type: none;
}

.cf-nav_single_link{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--brown);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.8s ease-in-out;
}

.cf-nav_single_link img{
    widows: 100px;
    height: 100px;
}

.cf-nav_single_link:hover{
    background: var(--brown);
    color: rgba(242, 180, 80, 0.9);
    padding-left: 1.5rem;
}

.cf-nav_logo:hover{
    background: var(--yellow);
}

.cf-nav_btn{
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: var(--yellow);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 3;
}

/** nav hide*/
.cf-nav{
    width: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}

.cf-nav_show{
    width: 10rem;
    height: 100%;
}
/*section*/
.cf-section_title{
    padding: 1rem 0.5rem;
}
.cf-section_title_left{
    margin-left: 10rem;
}

.cf-section_title_name{
    font-size: 3rem;
    text-transform: capitalize;
}

.cf-section_title_underline{
    background: var(--yellow);
    width: 5rem;
    height: 0.25rem;
}
.cf-section_title_text{
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: var(--grey);
}

/* meetups */
.cf-meetups_card {
    border: 1px solid #d3d3d3;
    border-radius: .5rem;
  }

  .cf-card_img{
      width: 200px;
      height: 150px;
      border-radius: 0.25rem;
  }
  
  .cf-meetups_image {
    background-size: cover;
    height: 150px;
    background-position: center;
    background-color: #ccc;
  }
  
  .cf-content {
    padding: 15px;
  }
  
  button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }

.grid-meetups_container{
    max-width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.cf-meetup_time{
    max-width: 90vw;
    margin: 0.25rem auto;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.cf-meetup_timing{
    color: var(--grey);
    padding: 1rem 0.5rem;
}
.cf-meetup_attendant{
    max-width: 90vw;
    margin: 0.25rem auto;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.cf-meetup_people{
    background: #80b3ff;
    color: var(--black);
    border-radius: 50%;
}

.cf-meetup_attend{
    color: var(--grey);
    padding: 1rem 0.5rem;
}

/*animation*/
@keyframes pulse{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.5)
    }
    100%{
        transform: scale(1)
    }
}

/* Responsive */
@media screen and (max-width: 768px){
    .cf-nav{
        width: 7rem;
    }

    .cf-nav_single_link{
        font-size: 1rem;
    }

    .cf-nav_single_link img{
        widows: 70px;
        height: 70px;
    }

    /** nav hide*/
    .cf-nav{
        width: 0;
        overflow: hidden;
        transition: all 0.5s linear;
    }
    .cf-nav_show{
        width: 7rem;
        height: 100%;
    }

    .cf-meetups_image {
        height: 150px;
        background-position: center;
        background-color: #ccc;
      }

      .cf-card_img{
        width: 290px;
        height: 150px;
        border-radius: 0.25rem;
    }
}

@media screen and (max-width: 683px){

    .cf-card_img{
      width: 218px;
  }
}
